@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.active-editing {
    box-shadow: 0 0 0 8px #fff, 0 0 5px 9px hsl(238 40% 52% / 0.8);
}
